<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Postal Rate</title>
</head>
<body>
    The weight is: <%= weight%>oz.<br>
    The type of mail is: <%= type%><br>
    The rate is: $<%= price%><br>
</body>
</html>